html{
	scroll-behavior: smooth;
}

h1{
	font-size : 96px;
	font-family: Montserrat;
	font-weight : bold;
}

h2{
	font-family : Montserrat;
	font-size : 72px;
	font-weight: bold;
	color : black;
	padding-top : 75px;
}

h3 {
	font-family : Montserrat;
	padding : 10px;
	font-size : 54px;
}
img {
	width : 100px;
	height : 100px;
	object-fit: cover;
}

p {
	font-family : Montserrat;
	font-size : 32px;
}

.frame1{
	position : relative;
	height : 600px;
	width :100%;
	background-color : #FFFFFF;
}

.frame2{
	position : relative;
	height : 600px;
	width : 100%;
	background-color : #EAEAEA;
}

.container{
	text-align : center;
}

.box {
	position : relative;
	height : 500px;
	width : 85%;
	background-color : #FFFFFF;
	margin 	: auto;
	margin-top : 50px;
	left 	: 0;
	right 	: 0;
	top 	: 25%;
	bottom 	: 0;
}

hr {
	border-width :4px;
	border-color: #AD974F;
	width : 50%;
}

.content-align-left {
	padding-left : 100px;
}

.paragraph_skills {
	font-size : 24px;
}

.pict{
	position : relative;
	margin : 50px;
}

.box_skills {
	height : 450px; 
	width : 100%; 
	border : 5px solid #AD974F; 
	border-width :5px; 
	border-radius : 20px;
	background-color: white;
	margin : 30px;
}

.foto_gallery{
	height : 300px;
	width : 300px;
}


