<!DOCTYPE html>

{% load static %}

<html lang ='en'>
<head>
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width", initial-scale = 1.0">
	<meta http-equiv = "X-UA-Compatible" content = "ie=edge">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=Montserrat:light' rel='stylesheet' type='text/css'>
	<title> Create Schedule </title>
</head>

<nav class = "navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class = "container-fluid">
	<a class="navbar-brand" href = "{% url 'homepage:index' %}"> Home </a>
	<button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target="#navbarResponsive">
		<span class = "navbar-toggler-icon"></span>
	</button>
	<div class = "collapse navbar-collapse" id = "navbarResponsive">
		<ul class = "navbar-nav ml-auto">
			<li class ="nav-item active">
				<a class = "nav-link" href = "{% url 'homepage:gallery' %}"> Gallery </a>
			</li>
			<li class = "nav-item">
				<a class = "nav-link" href = "{% url 'homepage:jadwal' %}"> Schedule </a>
			</li>
		</ul>
	</div>
</div>
</nav>


<h1> Create Schedule <h1>
<div class = "col-6" id ="field">
	<form method = "POST" class = "form">
		{% csrf_token %}
		<p> Nama Kegiatan </p>
		{{form.nama_kegiatan}}
		<p> Kategori </p>
		{{form.kategori}} </br>
		<p> Tempat </p> 
		{{form.tempat}} </br>
		<p> Tanggal </p>
		{{form.tanggal}}
		<p> Waktu </p>
		{{form.waktu}}
		<p> </p>
	    <div class="full">
            <input type="submit" class="button" value="Submit" />
        </div>
</form>

</html>