<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
		<link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.css' %}" />
		<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style1.css' %}" />
		<link href='http://fonts.googleapis.com/css?family=Montserrat:light' rel='stylesheet' type='text/css'>
		<title> Gallery </title>
</head>

<nav class = "navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class = "container-fluid">
	<a class="navbar-brand mx-auto" href = "{% url 'homepage:index' %}"> Home </a>
	<button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target="#navbarResponsive">
		<span class = "navbar-toggler-icon"></span>
	</button>
	<div class = "collapse navbar-collapse" id = "navbarResponsive">
		<ul class = "navbar-nav ml-auto">
			<li class ="nav-item active">
				<a class = "nav-link" href = "{% url 'homepage:jadwal' %}"> Schedule </a>
			</li>
		</ul>
	</div>
</div>
</nav>

<body>
	<div class = "container">
		<h3 style = "margin-top : 75px"> gallery </h3>
		<div class = "row">
			<div class = "col-sm-6">
				<div class = "pict">
					<img src = "{% static 'images/1.jpg' %}" style = "height : 400px; width : 400px; margin : 20px">
					<img src = "{% static 'images/2.jpg' %}" style = "height : 400px; width : 400px; margin : 20px">
				</div>
			</div>
			<div class = "col-sm-6">
				<div class = "pict">
					<img src = "{% static 'images/3.jpg' %}" style = "height : 400px; width : 400px; margin : 20px">
					<img src = "{% static 'images/4.jpg' %}" style = "height : 400px; width : 400px; margin : 20px">
				</div>
			</div>
		</div>
	</div>
</body>

