<!DOCTYPE html>
{% load static %}
<html lang= "en">

<head>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.css' %}"/>	
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style1.css' %}" />
	<link href= 'http://fonts.googleapis.com/css?family=Montserrat:light' rel='stylesheet' type='text/css'>
	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"> </script>
	<title> Home </title>
</head>

{% include "navbar.html" %}

<body id = "Home">
	<div class = "frame1">
		<div class = "box">
			<div class = "container">
				<h1> Hi, I'm Daniel </h1>
				<hr style = "width : 75%">
				<hr>
			</div>
		</div>
	</div>
	<div id = "About" class = "frame2" style = "height : 750px">
		<div class = "box">
			<img src = "{% static 'images/foto2.jpg' %}" style= "float:left; position : relative; border-radius :50%; width :300px; height :300px; top : 10%; margin : 50px">
			<div>
				<h2> about me</h2>
				<hr style = "position :absolute; left : 30%">
				<p style = "margin : 50px"> Hi! I am Daniel Martin. I am currently on my second year studying Computer Science at Universitas Indonesia. <b>Singing</b> and <b>doing computer stuff</b> is my passion.</p>
			</div>
		</div>
	</div>

	<div id = "Experiences" class = "frame1" style = "height : 800px">
		<div class = "content-align-left">
			<h2> experiences </h2>
			<hr style = "position : absolute; width : 30%">
			<h3 style = "padding-top : 50px"> education </h3>
			<p> 2006 - 2012 SD Regina Pacis Jakarta</p>
			<p> 2012 - 2015 SMP Regina Pacis Jakarta</p>
			<p> 2015 - 2018 SMAN 65 Jakarta </p>
			<p> 2018 - present Universitas Indonesia </p>

			<h3> organization </h3>
			<p> 2018 - present PSM Paragita </p>
		</div>
	</div>


	<div id = "Skills" class = "frame2" style = "height : 1100px">
		<div class = "container">
			<h2> skills</h2>
			<hr style = "width : 30%">
			<div class = "box_skills">
				<h3> technical skills </h3>
				<div class = "row">
					<div class = "col-sm-4">
						<div class = "pict">
							<img src = "{% static 'images/python.png' %}">
						</div>
						<div class = "paragraph_skills">
							<p> Python </p>
							<p> 9/10 </p>
						</div>
					</div>
					<div class = "col-sm-4">
						<div class = "pict">
							<img src = "{% static 'images/javaa.png' %}">
						</div>
						<div class = "paragraph_skills">
							<p> Java </p>
							<p> 8/10 </p>
						</div>
					</div>
					<div class = "col-sm-4">
						<div class = "pict">
							<img src = "{% static 'images/microsoft.png' %}">
						</div>
						<div class = "paragraph_skills">
							<p> Microsoft Office </p>
							<p> 9/10 </p>
						</div>
					</div>
				</div>
			</div>

			<div class = "box_skills" style = "height :250px">
				<h3> languages </h3>
				<p> English 9/10 </p>
				<p> Indonesia 9/10 </p>
			</div>

		</div>
	</div>

	<div class = "container">
		<div id = "Contact" class = "frame1" style = "height : 720px">
			<h2> contact</h2>
			<hr>
			<div style= "width: 80%; margin: auto; margin-top : 50px; ">
				<a href = "https://www.instagram.com/danielmartinn/"> <img src = "{% static 'images/insta.png' %}" style = "margin : 10px"> </a>
				<a href = "https://www.linkedin.com/in/daniel-martin-661201180/"> <img src = "{% static 'images/lnkdin.png' %}" style = "margin : 10px"> </a>
			</div>

			<div style = "margin-top: 50px">
				<p> <img src = "{% static 'images/phone.png' %}"> 087876669593 </p>
				<p> <img src = "{% static 'images/mail.png' %}"> danielmartin.sibarani@gmail.com </p>
			</div>
		</div>
	</div>
</body>