<!DOCTYPE html>

{% load static %}
<html lang ='en'>
<head>
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width", initial-scale = 1.0">
	<meta http-equiv = "X-UA-Compatible" content = "ie=edge">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=Montserrat:light' rel='stylesheet' type='text/css'>
	<title> Schedule </title>
</head>

<nav class = "navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class = "container-fluid">
	<a class="navbar-brand" href = "{% url 'homepage:index' %}"> Home </a>
	<button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target="#navbarResponsive">
		<span class = "navbar-toggler-icon"></span>
	</button>
	<div class = "collapse navbar-collapse" id = "navbarResponsive">
		<ul class = "navbar-nav ml-auto">
			<li class ="nav-item active">
				<a class = "nav-link" href = "{% url 'homepage:gallery' %}"> Gallery </a>
			</li>
			<li class = "nav-item">
				<a class = "nav-link" href = "{% url 'homepage:createJadwal' %}"> Create Schedule </a>
			</li>
		</ul>
	</div>
</div>
</nav>

<body>
	{% for j in jadwal %}
	<div class="jadwal-card">
        <h2>{{j.kategori}} - {{ j.nama_kegiatan }}</h2>
        <div class="flex">
        	<p> Tempat  : {{j.tempat}} </br>
        		Tanggal : {{j.tanggal}} </br>
        		Waktu   : {{j.waktu}} </p>
            <form action="delete" method="POST">
                {% csrf_token %}
                <input type= "hidden" value="{{ j.id }}" name="id" />
                <input class= "button delete" type="submit" value= "Delete" />
            </form>
        </div>
	</div>
	{% endfor %}
</body>
</html>