<nav class = "navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class = "container-fluid">
	<a class="navbar-brand" href = "#Home"> Home </a>
	<button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target="#navbarResponsive">
		<span class = "navbar-toggler-icon"></span>
	</button>
	<div class = "collapse navbar-collapse" id = "navbarResponsive">
		<ul class = "navbar-nav ml-auto">
			<li class ="nav-item active">
				<a class = "nav-link" href = "#About"> About </a>
			</li>
			<li class = "nav-item">
				<a class = "nav-link" href = "#Experiences"> Experiences </a>
			</li>
			<li class = "nav-item">
				<a class = "nav-link" href = "#Skills"> Skills </a>
			</li>
			<li class = "nav-item">
				<a class = "nav-link" href = "#Contact"> Contact </a>
			</li>
			<li class = "nav-item">
				<a class = "nav-link" href = "{% url 'homepage:gallery' %}"> Gallery </a>
			</li>
			<li class = "nav-item">
				<a class = "nav-link" href = "{% url 'homepage:jadwal' %}"> Schedule </a>
		</ul>
	</div>
</div>
</nav>
